/* src/App.css */

/* Global styles */
body {
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Theme */
body.dark-theme {
  background-color: #222;
  color: #fff;
}

.dark-theme .user-card {
  background-color: #333;
  border-color: #555;
  color: #fff;
}

.dark-theme .toggle-button {
  background-color: #555;
  color: #fff;
}

/* Light Theme */
body.light-theme {
  background-color: #f4f4f4;
  color: #333;
}

.light-theme .user-card {
  background-color: #fff;
  border-color: #ddd;
  color: #333;
}

.light-theme .toggle-button {
  background-color: #eee;
  color: #333;
}